/ErpPackage
Snapshots/07-02-2026/Company_2026-07-02_18-55.zip
/Current_Customizations/RH_Customizations/Customization_Code/MasterPackExtension/Research_Code/master_pack_research/MasterPackISV\[25.201\[06.25.2026\]
Current_Customizations/RH_Customizations/Customization_Code/MasterPackExtension/Research_Code/master_pack_research/MasterPackISV\[25.201\[06.25.2026\].zip
Current_Customizations/RH_Customizations/Customization_Code/MasterPackExtension/Research_Code/master_pack_research/MasterPackISV\[25.201\[07.09.2026\].zip
/Current_Customizations/RH_Customizations/Customization_Code/MasterPackExtension/Research_Code/master_pack_research/MasterPackISV\[25.201\[07.09.2026\]
/Istar_Development/Projects/BOL_Generation/.venv
/Istar_Development/Projects/BOL_Generation/Code/output
/Istar_Development/Projects/BOL_Generation/Code/.env
/Istar_Development/Projects/BOL_Generation/Code/node_modules
Current_Customizations/Customization_Export_Script/.env
/Current_Customizations/Customization_Export_Script/Acumatica-Customization-Exports
/Current_Customizations/Customization_Export_Script/8888_Customizations_08042026
/Current_Customizations/Customization_Export_Script/UAT_Customization_08042026
/Istar_Development/Projects/Acumatica_Speed_up/Asgard_Off
*.dtp
/Current_Customizations/Customization_Export_Script/8888_Customizations_08102026
/.codex_spreadsheet_review
Istar_Development/Projects/Barcode_generation/Research/0000787_total_barcodes.xlsx
Istar_Development/Projects/Barcode_generation/Research/Design_Document.md
Istar_Development/Projects/Barcode_generation/Code/.env
/Istar_Development/Projects/Barcode_generation/Code/node_modules
/Istar_Development/Projects/Barcode_generation/Code/output
/.codex_tmp/node_modules
/.codex_tmp
Current_Customizations/Customization_Export_Script/8888_Customizations_08182026/2026-08-18_144210/AsgardButtonControl\[06.09.2026\].zip
/Current_Customizations/Customization_Export_Script/8888_Customizations_08182026
/.codex-temp
/Istar_Development/Projects/Acumatica_Speed_up/research/Web.config
